* {
    background-color: #fffdca;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    color: crimson;
    margin-block-start: 0.67em;
    margin-block-end: 0em;
}

p.sub {
    color: black;
    margin-block-start: 0px;
    margin-block-end: 25px;
    font-size: 16px;
}

.text {
    font-size: 24px
}

p {
    text-align: center;
    font-size: 18px;
    color: indianred
}

hr {
    height: 0.25px;
    background-color: crimson;
    border-color: crimson;
    width: 25rem;
  }